<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">

<title>Hello, world!</title>
</head>
<body>


	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/index.html">JHYoon</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/form.html">join</a></li>
					<li><a href="/list">userList</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>


	<div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">USER LIST</div>
			<div class="panel-body">
				<p>사용자 리스트</p>
			</div>

			<!-- Table -->
			<table class="table">
				<colgroup>
					<col width="200">
					<col width="200">
					<col width="200">
				</colgroup>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>E-MAIL</th>
				</tr>
				{{#users}}
				<tr>
					<td>{{id}}</td>
					<td>{{name}}</td>
					<td>{{email}}</td>
				</tr>
				{{/users}}
			</table>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>